@font-face {
    font-family: 'Jameel Noori Nastaleeq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/jameel_noori_nastaleeq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Al Majeed Quranic';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/al_majeed_quranic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
