@font-face {
    font-family: 'Jameel Noori Nastaleeq';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/jameel_noori_nastaleeq.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jameel Noori Kasheeda';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/jameel_noori_kasheeda.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Al Mushaf';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/al_mushaf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
