.urtext-parent{
  text-align: right !important;
}

.urtext-self{
  direction: rtl !important;
  letter-spacing: 0px !important; /* some sites use this and cause font damage */
}

.urtext-font-jameel-noori-kasheeda{ font-family: Jameel Noori Kasheeda !important; }
.urtext-font-jameel-noori-nastaleeq{ font-family: Jameel Noori Nastaleeq !important; }
.urtext-font-nafees-naskh{ font-family: Nafees Naskh !important; }
.urtext-font-nafees-web-naskh{ font-family: Nafees Web Naskh !important; }
.urtext-font-al-mushaf{ font-family: Al Mushaf !important; }
.urtext-font-aslam{ font-family: Aslam !important; }
.urtext-font-alqalam-quran-majeed{ font-family: AlQalam Quran Majeed !important; }
.urtext-font-jameel-noori-nastaleeq-alt{ font-family: Jameel Noori Nastaleeq Alt !important; }
.urtext-font-mehr-nastaliq-web-3{ font-family: Mehr Nastaliq Web 3 !important; }
